{% extends 'userlogin/base.html' %}
{% load static %}
{% block content %}
<!--section start-->
<section id="loginbg">
  <!--container start-->
  <div class="container py-5 mx-auto">
    <div class="row d-flex justify-content-center align-items-center mx-auto">
      <div class="col col-xl-10">
        {% if product %}
        <!--card start-->
        <div class="card mb-3" id="viewproductcard">
          <div class="row g-0">
            <div class="col-md-4">
              <a href="{% url 'index' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Click Here for view products list."><img src="{{product.product_image.url}}" class="img-fluid rounded-start" id="viewproductimage"></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <form action="{% url 'add_to_cart' product.id %}" method="POST">
                  {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" id="logincardbg"></i>
                  </div>
                  <h5 class="card-title">Product Detail</h5>
                  <p class="card-text">
                    <p class="fw-bold">Name:</p>
                    <p class="lead">
                      <span>{{ product.name }}</span>
                    </p>
                    <p class="fw-bold">Price:</p>
                    <p class="lead">
                      <span>&#8377; {{ product.price }}</span>
                    </p>
                    <p class="fw-bold">Description:</p>
                    <p>
                      {{ product.description }}
                    </p>
                    <input type="number" value="1" min="1" name="quantity">
                  </p>
                  <button type="submit" id="buttoncolour" class="btn btn-outline-light">Add TO Cart</button>
                </form>
             </div>
            </div>
          </div>
        </div>
        <!--card end-->
        {% endif %}
      </div>
    </div>
  </div>
  <!--container end-->
</section>
<!--section end-->
{% endblock %}