{% extends 'userlogin/base.html' %}
{% load static %}
{% block content %}
<section id="loginbg">
  <div class="container py-5 mx-auto">
    <div class="row d-flex justify-content-center align-items-center mx-auto">
      <div class="col col-xl-10">
        {% if product %}
        <div class="card mb-3" id="logincardradius">
          <div class="row g-0">
            <div class="card">
              <img src="{{ product.product_image.url }}" alt="login form" class="card-img-top"/>
            </div>
            <div class="col-md-6 col-lg-7 mx-auto d-flex align-items-center">
              <div class="card-body p-sm-1 text-black">
                <!--form start-->
                <form action="{% url 'add_to_cart' product.id %}" method="POST">
                  {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" id="logincardbg"></i>
                    <span class="h1 fw-bold mb-0">SuperShop</span>
                  </div>
                  <h5 class="card-title">Product Detail</h5>
                  <p class="card-text">
                    <p class="lead">
                      <span class="mr-1"><del>$200</del></span>
                      <span>{{ product.price }}</span>
                    </p>
                    <p class="fw-bold">Description</p>
                    <p>{{ product.description }}</p>
                    <input type="text" name="quantity" value="{{ product.quantity }}">
                  </p>
                  <button type="submit" class="btn btn-primary">Add TO Cart</button>
                </form>
                <!--form end-->
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}