<!DOCTYPE html>
<html>
<head>
  <title>Footer page</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="icons-1.7.2/font/bootstrap-icons.css">
</head>
<body>
<!--Nav bar start-->
<nav class="navbar navbar-expand-lg navbar-light" id="footer-bg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand">SuperShop</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login.html" target="_self">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Contactsection">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Nav bar end-->
</body>
</html>