<!DOCTYPE html>
<html>
<head>
  <title>Productdetails</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="icons-1.7.2/font/bootstrap-icons.css">
</head>
<!--Nav bar start-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #AEB6BF">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand">SuperShop</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Homepage.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login.html" target="_self">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Contactsection">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Nav bar end-->

<body style="background-color: rgba(0, 0, 0, 0.2);">
<div class="container d-flex align-items-center justify-content-center">
<div class="shadow-lg p-3 mb-5 bg-body rounded mt-5">
<div class="card mt-5" style="width: 28rem;">
  <img src="login4.jpg" class="card-img-top" style="max-height: 300px" alt="...">
  <div class="card-body">
    <h5 class="card-title">Product Detail</h5>
    <p class="card-text">
      <p class="lead">
            <span class="mr-1"><del>$200</del></span>
            <span>$100</span>
        </p>
    <p class="fw-bold">Description</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsasint voluptatibus!Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>
        <form class="d-flex justify-content-left">
        <!-- Default input -->
          <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
      </form>
    </p>
    <a href="#" class="btn btn-primary">Add TO Cart</a>  <a href="#" class="btn btn-primary">Buy Now</a> 
  </div>
</div>
</div>
</div>
</body>
<!-- Footer -->
<footer class="text-center text-lg-start text-black" id="gotofooter" style="background-color: #e3f2fd">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section>
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h2 class="text-uppercase mb-4 font-weight-bold">
              SuperShop
            </h2>
            <h6 class="text-uppercase mb-4 font-weight-bold">About us</h6>
            <p>Here you can use buy all the latest Clothes for women's, Men's and children's. All the latest clothes are available here. You can find clothes by Searching the category.</p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p><a class="text-black">Men's Wear</a></p>
            <p><a class="text-black">Women's Wear</a></p>
            <p><a class="text-black">Children's Wera</a></p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" id="Contactsection">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> B-Square-1,Antriksh Colony,Ahmedabad,India</p>
            <p><i class="fas fa-envelope mr-3"></i> supershop@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +98754182654</p>
            <p><i class="fas fa-print mr-3"></i> +88754821534</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="bi bi-facebook"></i></a>
            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="bi bi-twitter"></i></a>
            <!-- Google -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="bi bi-google"></i></a>
            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="bi bi-instagram"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="bi bi-linkedin"></i></a>
            <!-- Github -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="bi bi-github"></i></a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      &copy; 2021 Copyright:
      <a class="text-black" href="#">ShuperShop.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</html>