{% extends 'userlogin/base.html' %}
{% load static %}
{% block content %}
<!--container start-->
<div class="container-fluid rounded bg-white align-items-center">
                    {% include 'userlogin/messages.html' %}
    <h3 class="text-center" id="Address-margin">Profile</h3>
    <div class="row">
        <div class="col-md-6 border-right">
            {% if user.is_authenticated %}
            <!--form start-->
            <form method="POST" action="{% url 'profile' %}"  enctype="multipart/form-data">
            {% csrf_token %}
                <!--display user profile-->
                <div class="d-flex flex-column align-items-center text-center">
                    <label for="file-input">
                    <div class="image-upload">
                            <img class="rounded-circle mt-5" id="profileimageheightwidth" src="{{ user.profile_pic.url }}">
                        <input id="file-input" type="file" name="profile_pic" accept="image/*"/>
                        <div class="rounded-circle overlay">
                            <i class="bi bi-camera 10x" id="icon"></i>
<!--                            <i class="bi bi-pencil-square"></i>-->
                        </div>
                    </div>
                    </label>
                    <span class="font-weight-bold">{{ user.mobile_number }}</span>
                    <span class="text-black-50">{{ user.email }}</span><br><br>
                    <span> </span>
                </div>
                <!--user profile end-->
            </div>
            <div class="col-md-6 border-right">
                <div class="p-3 py-5">
                <!--profile update start-->
                <div class="d-flex flex-column justify-content-between align-items-center">
                </div>
                <div class="form-group row">
                        <div class="col-lg-4 col-md-4 cold-sm-6 col-form-label"> {{ form.first_name.label_tag }}</div>
                    <div class="col-lg-8 col-md-3 cold-sm-6"> {{form.first_name}}</div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 cold-sm-6 col-form-label"> {{ form.last_name.label_tag }}</div>
                    <div class="col-lg-8 col-md-3 cold-sm-6"> {{form.last_name}} </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 cold-sm-6 col-form-label"> {{ form.username.label_tag }}</div>
                    <div class="col-lg-8 col-md-3 cold-sm-6"> {{form.username}} </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4 col-md-4 cold-sm-6 col-form-label"> {{ form.birth_date.label_tag }}</div>
                    <div class="col-lg-8 col-md-3 cold-sm-6"> {{form.birth_date}} </div>
                </div>
                {% for field in form %}
                     {{field.errors}}
                    {% for error in field.errors %}
                        <div id="errormessage">
                            *{{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="mt-5 text-center">
                    <button class="btn btn-outline-light profile-button" id="buttoncolour" type="submit" value="submit">Update Profile</button>
                </div>
                </div>
            </form>
            <!--form end-->
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>
<!--container end-->
{% endblock %}