{% extends 'userlogin/base.html' %}
{% load static %}
{% block content %}
<section id="loginbg">
  <div class="container py-5 mx-auto">
    <div class="row d-flex justify-content-center align-items-center mx-auto">
      <div class="col col-xl-10">
        <div class="card mb-3" id="logincardradius" >
                  {% include 'userlogin/messages.html' %}
          <div class="row g-0">
<!--            <div class="card">-->
<!--              <img src="{% static 'userlogin/password.png' %}" alt="login form" class="card-img-top"/>-->
<!--            </div>-->
            <div class="col-md-6 col-lg-7 mx-auto d-flex align-items-center">
              <div class="card-body p-sm-1 text-black">
                <!--form start-->
                <form action="{% url 'password_reset' %}" method="POST">
                  {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" id="logincardbg"></i>
<!--                    <span class="h1 fw-bold mb-0">SuperShop</span>-->
                  </div>
                  <h5 class="fw-normal mb-3 pb-3" id="loginletterspacing">Password Reset Page</h5>
                  {% for field in password_reset_form %}
                    <div class="form-outline mb-4">
                      {{ field.label_tag }}
                      {{ field }}
                    </div>
                  {% endfor %}
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">send instruction</button>
                  </div>
                </form>
                <!--form end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


Models for the RMT:

login
  Fields:
    -Username
    -Password
client:(for new and existing client will give radio button, so i think no need to add that field here.)
  Fields:
    -lead source
    -source link
    -company/client name
    -key person(from the client side)
    -location
    -client time zone
    -email id
    -phone number
    -linkedin
    -start date
    -end date(from how many years client work with company)
    -status(client currently active or not)
Resource:
  Fields:
    -name (textbox)
    -technologies(dropdown)
    -experince(dropdown)
    -status(like active in any project or not)
    -client (if active in any client's project)(set as foreign key)
Request for resume model:
  Fields:
    -Resouce Manager name(textbox)
    -lead source(textbox)
    -source link(textbox)
    -Technology required(textbox or we can set dropdown here)
    -Experienced Required(dropdown)
    -total resource(total number of resources)
    -detailed jd(textbox)
    -client budget(textbox)
    -status(requested or not)(dropdown)
share resume:
  Fields:
    -foreign key for the request resume
    -upload resume(uploadfield)
    -budget(textbox)
    -type of resource(contract/in-house)(dropdown)
Feedback:
  Fields:
    -status(select any status from the drop down like selecte or rejected)(dropdown)
    -feedback(from client or BD)(textbox)
    -Remarks(textBox)
selected resource table:
  Fields:
    -resource(foreign key)
    -client(foreign key)
    -monthly budget
    -deployment date
    -project coordinator name
Interview:
  Fields:
    -date
    -time
    -status(schedule/reschedule/pending)
    -interview round
    -remarks
    -client(foreign key)
    -resource(foreign key)

